body{
  font-family: 'Fira Sans', sans-serif;
}

.full {
  height: 100%;
  border: 1px solid pink;
  background-size: cover;
  background-position: center;
    background-attachment: fixed;/* attribute for parallax effect!*/
}
